To connect to external messaging services, configure the following connectors in $pipelinesArtifactId/$pipelineArtifactId/src/main/resources/META-INF/microprofile-config.properties:

#foreach ($item in $items)
${item}
#end