# Vault
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
aissemble-vault-chart:
  vault:
    server:
      dev:
        enabled: true

    # enable ui for dev mode
    ui:
      enabled: true
      serviceType: LoadBalancer
