#[[#################################################################################
## CONFIG | S3 Local Configs                                                      ##
## See aiSSEMBLE aissemble-localstack-chart: README for more details.             ##
## https://github.com/boozallen/aissemble/                           ##
################################################################################]]##

aissemble-localstack-chart:
  buckets:
  #if (${dataFlowPipelines})
    - name: spark-infrastructure
      keys:
      - warehouse/
  #end
  #if (${machineLearningPipelines})
    - name: mlflow-models
      keys:
      - mlflow-storage/
  #end