#[[########################################
## CONFIG | Versioning Configs
########################################]]#

# Versioning
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
aissemble-versioning-chart:
  app:
    name: ${projectName}-versioning
  image:
    name: ${projectName}-versioning
    dockerRepo: ${dockerProjectRepositoryUrl}
    tag: latest
